<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <!-- REMOVE THIS -->
  <!--<div class="field">-->
    <!--<%#= form.label :author_id %>-->
    <!--<%#= form.text_field :author_id %>-->
  <!--</div>-->

  <!--Added-->
  <div class="field">
    <%= form.collection_select :author_id, Author.order(:name), :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
